.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 30px 20px 0;
  svg {
    font-size: 30px;
  }
  .modal-title {
    display: flex;
    align-items: start;
    column-gap: 10px;
  }
  .titles {
    flex-direction: column;
    display: flex;
  }
}

label {
  font-weight: 500;
}
