@import "variables";
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $body-bg;
}
svg {
  cursor: pointer;
}
.app-button {
  color: $primary-color;
  background-color: #fff;
  border: none;
  box-shadow: $button-shadow;
  padding: 5px 20px;
  font-size: 15px;
  font-weight: 500;
  &:hover {
    background-color: $primary-color-darker !important;
  }
}
.app-button[type="submit"] {
  color: #fff;
  background-color: $primary-color !important;
  &:hover {
    background-color: $primary-color-darker !important;
  }
}
.app-button[type="cancel"] {
  color: #0f0d0d !important;
  background-color: #fff !important;
  &:hover {
    background-color: #f2f2f2 !important;
  }
}
