@import "variables";

.activeLink {
  * {
    background-color: $primary-color !important;
    color: #fff !important;
  }
}

#nav-bar {
  margin: 50px auto 30px;
  display: flex;
  justify-items: center;
  gap: 20px;
  max-width: $table-max-w;
}

.create-item-header {
  max-width: $table-max-w;
  margin: 0 auto;
  display: flex;
  justify-content: end;
}
