@import "variables";

#data-table {
  max-width: $table-max-w;
  margin: 50px auto;
  border-collapse: separate;
  border-spacing: 0 10px;
  color: $sm-text-color !important;
  font-size: 14px;

  .table-header {
    color: $sm-text-color !important;
    background-color: transparent !important;
  }

  .description {
    word-wrap: break-word;
    max-width: 400px;
  }
  .label {
    word-wrap: break-word;
    max-width: 100px;
  }
  .updated-at {
    text-align: center;
    border-radius: 7px;
    background-color: #ffd587;
  }
  .created-at {
    text-align: center;
    border-radius: 7px;
    background-color: #6db1fc;
  }
  .project-date {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .action-icons-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      font-size: 20px;
      color: $primary-color;
    }
  }
}

.table-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
