// sizes
$table-max-w: 1150px;
// colors
$primary-color: #6141ed;
$primary-color-darker: #573bd5;
$body-bg: #f7f9fa;
// text
$md-text-color: #b1aab2;
$sm-text-color: #a5a4a7;

$button-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
$table-row-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
